**.npm/
client/\.npm/
client/dist/
**/dist/
**.log
**/.DS_Store
**/.v8flags.*
**/.node-gyp/
**.idea
\.idea/
**/.vscode/*
**/.config/
**/documentation/

**/.bash_history

.idea_modules/

/doc/
/out/

/.env
.env
*.env

requirements.lock

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
